@media(max-width: 600vw){

}
body{
    margin:0;
    padding: 0;
    background-color: #6F1E4E;
    color:antiquewhite
}
img{
    height:30vh ;
    width: 100vw;   

}
.menu{
    background-color: var(--wine-purple);
  color: var(--vintage-yellow);
  border-top: 3px solid rgba(255,255,255,0.03);
  /* sombra sutil para destaque */
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    margin-top: -0.8%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
h5{
    text-align: center;
    background: linear-gradient(90deg, var(--photo-orange), #E36A2A);
  color: #fff;
    margin-top: 5%;
      border-radius: 6px;
  box-shadow: 0 6px 18px rgba(212,106,26,0.12);
}

