
@media (max-width: 600px){
body{ 
   
    max-width: 100%;
    margin: 0;
    padding: 0;
} }
body{
    background-color: black;
}
img{
    position:fixed;
    width: 100vw;
    height: 50vh;
    top: 0;
    left: 0;

}